html, body {
    margin: 0;
}

legend {
    border-bottom: 1px solid #ccc;
    padding-top: .5rem;
}

.pizza-total,
.cart-total {
    font-size: 1.2em;
    font-weight: bold;
}

.cart-empty {
    font-style: italic;
}
.cart-pizza-name {
    font-size: .9em;
    font-weight: bold;
}
.cart-pizza-size {
    font-size: .7em;
}
.cart-pizza-toppings {
    font-size: .8em;
}
