<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css" rel="stylesheet" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="app" class="app"></div>
</body>
</html>
